<div>
  <h1>Add New Actor</h1>
</div>

<form action="/add_actor/">
<div>
<label for="dob">DOB:</label>
<div>
  <input type="text" id="dob" name="the_dob" placeholder="Date of Birth">
</div>
</div>

<div>
  <label for="name">Name:</label>
  <div>
    <input type="text" id="name" name="the_name" placeholder="Name">
  </div>
</div>

<div>
<label for="bio">Bio:</label>
<div>
  <input type="text" id="bio" name="the_bio" placeholder="Bio">
</div>
</div>

<div>
  <label for="image_url">Image url:</label>
  <div>
    <input type="text" id="image_url" name="the_image_url" placeholder="image_url">
  </div>
</div>

<div>
  <div></div>
  <div>
    <input type="submit" value="Add Actor">
  </div>
</div>
  
</form>
