<h1>Add Actor</h1>
<hr>

<form class="" action="http://localhost:3000/create_actor_row">
  <label>Dob</label>
  <input type="text" name="dob" placeholder="Dob">

  <br>

  <label>Name</label>
  <input type="text" name="name" placeholder="Name">

  <br>

  <label>Bio</label>
  <input type="text" name="bio" placeholder="Bio">

  <br>

  <label>Image url</label>
  <input type="text" name="image_url" placeholder="Image url">

  <br>

  <button>CREATE DIRECTOR</button>
</form>

<br>
