<div class="page-header">
  <h1>Add Actor</h1>
</div>

<form action="/create_actor" class="">

  <div class="">
    <label for="image_url" class="">
      Image url
    </label>
    <div class="">
      <input type="text" id="image_url" name="image_url" placeholder="Image url" class="">
    </div>
  </div>

  <div class="">
    <label for="name" class="">
      Name
    </label>
    <div class="">
      <input type="text" id="name" name="name" placeholder="Name" class="">
    </div>
  </div>

  <div class="">
    <label for="bio" class="">
      Bio
    </label>
    <div class="">
      <textarea id="bio" name="bio" placeholder="Bio" class="" rows="3"></textarea>
    </div>
  </div>

  <div class="">
    <label for="dob" class="">
      Dob
    </label>
    <div class="">
      <input type="text" id="dob" name="dob" placeholder="Dob" class="">
    </div>
  </div>

  <div class="">
    <div class="">
      <input type="submit" value="Create Actor" class="">
    </div>
  </div>
</form>
