<h1>Add Actor</h1>
<form action="/create_actor">
  <label>Dob</label>
  <input type = "text" placeholder="Dob" name="the_dob">

  <div><label>Name</label>
    <input type = "text" placeholder="Name" name="the_name"></div>

    <div><label>Bio</label>
      <input type = "text" placeholder="Bio" name="the_bio"></div>

      <div><label>Image url</label>
        <input type = "text" placeholder="Image url" name="the_image"></div>

        <button>Create Actor</button>
      </form>
