<div>
  <h1>Add New Movie</h1>
</div>

<form action="/add_movie/">
<div>
<label for="title">Title:</label>
<div>
  <input type="text" id="title" name="the_title" placeholder="Title">
</div>
</div>

<div>
  <label for="year">Year:</label>
  <div>
    <input type="text" id="year" name="the_year" placeholder="Year">
  </div>
</div>

<div>
<label for="duration">Duration:</label>
<div>
  <input type="text" id="duration" name="the_duration" placeholder="Duration">
</div>
</div>

<div>
<label for="description">Description:</label>
<div>
  <input type="text" id="description" name="the_description" placeholder="Description">
</div>
</div>


<div>
  <label for="image_url">Image url:</label>
  <div>
    <input type="text" id="image_url" name="the_image_url" placeholder="image_url">
  </div>
</div>

<div>
  <div></div>
  <div>
    <input type="submit" value="Add Movie">
  </div>
</div>

</form>
