<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>

</head>
<body>
  <div class="container">

    <div class="page-header">
      <h3>Deleted <%= @movie.title %></h3>
    </div>

    <p>
      <a href="/movies" class="btn btn-primary">Go Back</a>
    </p>
  </div>


</body>
</html>
