<h1>Add a Movie</h1>
<form class="" action="/create_movie">
  <div>
  <input type="text" name="title" value="Title">
</div>
<div class="">
  <input type="text" name="year" value="Year">
</div>
<div class="">
  <input type="text" name="image_url" value="Image URL">
</div>
<div class="">
  <input type="long text" name="duration" value="Duration">
</div>
<div class="">
  <input type="long text" name="description" value="Description">
</div>
<input type="submit" value="Add Now">
</form>
