<div class="page-header">
  <h1>Add Movie</h1>
</div>

<form action="http://localhost:3000/create_movie">

  <div class="">
    <label for="image_url">Image URL</label>
    <div class="">
      <input type="text" id="image_url" name="image_url" placeholder="Image URL">
    </div>
  </div>

  <div class="">
    <label for="title">Title</label>
    <div class="">
      <input type="text" id="title" name="title" placeholder="Title">
    </div>
  </div>

  <div class="">
    <label for="year">Year</label>
    <div class="">
      <input type="text" id="year" name="year" placeholder="Year">
    </div>
  </div>

  <div class="">
    <label for="duration">Duration</label>
    <div class="">
      <input type="text" id="duration" name="duration" placeholder="Duration">
    </div>
  </div>

  <div class="">
    <label for="description">Description</label>
    <div class="">
      <textarea id="description" name="description" placeholder="description" rows="3"></textarea>
    </div>
  </div>

  <div class="">
    <div class="">
      <input type="submit" value="Create movie">
    </div>
  </div>

</form>
