<div class="container">
  <div class="row Header">
    <div class="col-xs-12">
      Add a new Movie
    </div>
  </div>
  <form action="/movies/create_row">
    <div class="row Details">
      <div class="col-md-2">
        <label for="title">Title</label>
      </div>
      <div class="col-md-10">
        <input type="text" id ="title" name="title" placeholder="Title">
      </div>
      <div class="col-md-2">
        <label for="year">year</label>
      </div>
      <div class="col-md-10">
        <input type="text" id = "year" name="year" placeholder="Year">
      </div>
      <div class="col-md-2">
        <label for="duration">Duration</label>
      </div>
      <div class="col-md-10">
        <input type="text" id="duration" name="duration" placeholder="Duration">
      </div>
      <div class="col-md-2">
        <label for="description">Description</label>
      </div>
      <div class="col-md-10">
        <input type="text" id="description" name="description" placeholder="Description">
      </div>
      <div class="col-md-2">
        <label for="image_url">Image URL</label>
      </div>
      <div class="col-md-10">
        <input type="text" id = "image_url" name="image_url" placeholder="Image URL">
      </div>
      <div class="col-md-offset-2 col-md-10">
        <button>Add Movie</button>
      </div>
    </div>
  </form>
</div>
