<h1>Add a Director</h1>
<form class="" action="/create_director">
  <div>
  <input type="text" name="name" value="Name">
</div>
<div class="">
  <input type="text" name="dob" value="Date of Birth">
</div>
<div class="">
  <input type="text" name="image_url" value="Image URL">
</div>
<div class="">
  <input type="long text" name="bio" value="Bio">
</div>
<input type="submit" value="Add Now">
</form>
