<h1>Directors</h1>
<hr>

<a href="#">ADD A NEW DIRECTOR</a>

<table>
  <tr>
    <th>Image</th>
    <th colspan="3">Dob</th>
    <th colspan="3">Name</th>
    <th colspan="3">Bio</th>
  </tr>

  <tr>
    <td>
      <img src="http://ia.media-imdb.com/images/M/MV5BMTA0Mjc0NzExNzBeQTJeQWpwZ15BbWU3MDEzMzQ3MDI@._V1._SX214_CR0,0,214,314_.jpg" alt="" width="80"/>
    </td>
    <td>
      May 15
    </td>
    <td>
      Bob
    </td>
    <td>
      I am cool
    </td>
  </tr>
</table>
