<!DOCTYPE html>
<html>
<head>
  <title>MustSeeMoviesGoldenSeven</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>


  <!-- Brand and toggle get grouped for better mobile display -->
  <div>
    <table>
      <tr>
        <th><a href="/">MovieDB</a></th>
        <th><a href="/directors">Directors</a></th>
        <th><a href="/movies">Movies</a></th>
        <th><a href="/actors">Actors</a></th>
      </tr>
    </table>
  </div>

  <%= yield %>

</body>
</html>
