<!DOCTYPE html>
<html>
<head>
  <title>MustSeeMoviesGoldenSeven</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <div>
    <a href="/directors">Directors</a>
  </div>
  <div>
    <a href="/movies">Movies</a>
  </div>
  <div>
    <a href="/actors">Actors</a>
  </div>

</nav>

<%= yield %>

</body>
</html>
